[
  { "ParameterKey": "VpcId", "ParameterValue": "vpc-REPLACE" },
  { "ParameterKey": "WorkerSubnetIds", "ParameterValue": "subnet-REPLACE-A,subnet-REPLACE-B" },
  { "ParameterKey": "EipPoolTagKey", "ParameterValue": "" },
  { "ParameterKey": "EipPoolTagValue", "ParameterValue": "" },
  { "ParameterKey": "GcsHmacSecretArn", "ParameterValue": "arn:aws:secretsmanager:REGION:ACCOUNT:secret:migration-gcs-hmac-XXXXXX" },
  { "ParameterKey": "ArtifactsBucket", "ParameterValue": "s3euprodloginventory" },
  { "ParameterKey": "LambdaS3Key", "ParameterValue": "ops/ratelimit-controller-goworker.zip" },
  { "ParameterKey": "TargetBucketPrefix", "ParameterValue": "migration-dest-" },
  { "ParameterKey": "RatelimitTargetGbps", "ParameterValue": "300" },
  { "ParameterKey": "RatelimitTpsTarget", "ParameterValue": "10000" },
  { "ParameterKey": "InstanceType", "ParameterValue": "c8in.8xlarge" },
  { "ParameterKey": "CpuArch", "ParameterValue": "x86_64" },
  { "ParameterKey": "InstanceCount", "ParameterValue": "1" },
  { "ParameterKey": "WorkerCount", "ParameterValue": "1" },
  { "ParameterKey": "WorkerThreads", "ParameterValue": "64" },
  { "ParameterKey": "RootVolumeSize", "ParameterValue": "100" },
  { "ParameterKey": "GitRepoUrl", "ParameterValue": "https://github.com/aws-samples/sample-data-transfer-tool" },
  { "ParameterKey": "GoWorkerReleaseTag", "ParameterValue": "go-worker-v0.1.0-528a3c3" },
  { "ParameterKey": "RcloneS3Key", "ParameterValue": "ops/rclone-v1.74.3-x86_64" },
  { "ParameterKey": "KeyPairName", "ParameterValue": "" },
  { "ParameterKey": "ProjectTag", "ParameterValue": "gcs-s3-migration" }
]
