[
  {
    "ParameterKey": "VPC",
    "ParameterValue": "vpc-xxxxx"
  },
  {
    "ParameterKey": "Subnets",
    "ParameterValue": "subnet-xxxxx,subnet-yyyyy"
  },
  {
    "ParameterKey": "InstanceType",
    "ParameterValue": "t3.large"
  },
  {
    "ParameterKey": "InstanceCount",
    "ParameterValue": "1"
  },
  {
    "ParameterKey": "DropboxAppKey",
    "ParameterValue": "YOUR_DROPBOX_APP_KEY"
  },
  {
    "ParameterKey": "DropboxAppSecret",
    "ParameterValue": "YOUR_DROPBOX_APP_SECRET"
  },
  {
    "ParameterKey": "DropboxRefreshToken",
    "ParameterValue": "YOUR_DROPBOX_REFRESH_TOKEN"
  },
  {
    "ParameterKey": "DestinationBucket",
    "ParameterValue": "your-bucket-name"
  }
]
